rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function signedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return signedIn() && request.auth.uid == userId;
    }

    match /{allPaths=**} {
      allow read, write: if false;
    }

    match /users/{userId}/{allPaths=**} {
      allow read, write: if isOwner(userId);
    }

    match /playerVideos/{userId}/{videoId}/{allPaths=**} {
      allow read, write: if isOwner(userId);
    }

    match /clubDocuments/{clubId}/{allPaths=**} {
      allow read, write: if isOwner(clubId);
    }
  }
}
